.footer {
  width: 100%;
  background-color: black;
  color: rgb(0, 0, 0);
  padding: 4rem 2rem 2rem;
  font-family: system-ui, -apple-system, sans-serif;
  box-sizing: border-box;
  margin-top: auto; /* Helps push the footer to the bottom */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

.logo > img {
  height: 40px;
}

.footerContent {
/*   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  color: white;
}

.column:first-child > p {
  max-width: 350px;
}

.column h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.column p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: rgb(192, 187, 187);
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: rgb(192, 187, 187);
}

.column ul li {
  margin-bottom: 0.75rem;
  cursor: pointer;
}

.socialIcons {
  display: flex;
  gap: 1rem;
}

.socialIcons svg {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.socialIcons svg:hover {
  opacity: 1;
}

.copyright {
  text-align: center;
  color: white;
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(203, 213, 225, 0.1);
}

@media (max-width: 768px) {
  .footerContent {
    display: grid;
  }
  
  .column {
    text-align: center;
  }
  
  .socialIcons {
    justify-content: center;
  }
}
